{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">Review and manage your items</p>
        </div>
    </div>
</header>

<br/>
<div class="container">
    <center>
        {% if cart_products %}
            {% for product in cart_products %}
                
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">
                                    <strong>Price: </strong>
                                    ${{ product.price_or_sale }}
                                </p>

                                <div class="row justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <strong>Quantity:</strong>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-select form-select-sm" id="qty-cart">
                                            {% for key, value in quantities.items %}
                                                {% if key == product.id|slugify %}
                                                    <option selected value="{{ value.qty }}">{{ value.qty }}</option>
                                                {% endif %}
                                            {% endfor %}

                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <h3>Your cart is empty.</h3>
        {% endif %}
    </center>
</div>

{% endblock %}
